.packListArea {
  width: 837px;
  height: 636px;
  left: 136px;
  top: 84px;
  background: #FEFEFF;
  border-radius: 8px;
  .navBlock{
    position: absolute;
    width: 243px;
    height: 636px;
    left: 136px;
    top: 84px;
    background: #ECECF9;
    border-radius: 8px;
  }
}