@import '../common/styles/mixins';
@import '../common/styles/variables';
@import '../common/CustomButton/CustomButton.module';

.passwordRecoveryArea {
  width: 413px;
  height: 600px;
  top: 60px;
  left: 434px;
  border-radius: 8px;
  background-color: $boardBackground;
  @include flex(column, space-around, center, nowrap);

  .h2Style {
    @include text($headingFont, 26px, 600, 39px, $textColor);
  }

  .h3Style {
    @include text($headingFont, 22px, 600, 33px, $textColor);
  }

  .passwordRecoveryForm {
    @include flex(column, space-between, center, nowrap);
    width: 347px;
    height: 230px;

    .text {
      @include text($headingFont, 16px, 400, 24px, $secondTextColor);
      text-align: left;
    }
    .instructionsBtn{
      width: 266px;
    }
  }
  .text {
    @include text($headingFont, 16px, 400, 24px, $secondTextColor); //вопрос на саппорт если этот класс использую в разных вложенных тегах?
  }
  .loggingInLink{
    @include text($commonFont, 16px, 600, 24px, $btnColor);
  }
}