@import '../styles/variables';

.customInput {
  height: 24px;
  width: 160px;
  left: 0px;
  top: 46.42px;
  border: 0px;
  outline: 0;
  background-color: #F9F9FE;
  border-bottom: 1.5px solid $secondTextColor;
  font-size: 14px;

  &::-webkit-input-placeholder {
    font-family: SF UI Display;
  }

  &::placeholder {
    font-size: 13px;
  }
}


