@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf") format("ttf")
}

$textColor: #2D2E46;
$secondTextColor: #696969;
$boardBackground: #F9F9FE;
$headingFont: 'Poppins';
$mainFont: 'Open Sans', sans-serif;
